<app-loader *ngIf="isLoading"></app-loader>
<div [hidden]="isLoading" class="my-materials-container" [ngClass]="{'in-categories':materialList}">
    <h1 class="materials-title">My Materials</h1>
    <div class="my-material-body">
        <div class="left-container">
            <div class="filter-wrapper">
                <app-filter (onFilter)="onFilter($event)" [results]="materialsToDisplay.length"></app-filter>
            </div>
        </div>
        <div *ngIf="getMaterialsToDisplay().length" class="materials-card-wrapper">
            <app-material-card *ngFor="let data of getMaterialsToDisplay()" [cardData]="data" [longCard]="true">
            </app-material-card>
        </div>
        <div *ngIf="!materialsToDisplay.length" class="no-materials">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                    fill="currentColor">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                </svg>
            </span>
            <span>No materials to show</span>
        </div>
    </div>
    <app-pagination [pages]="getNumberOfPages()" (pageChange)="handlePageChange($event)"></app-pagination>
</div>