    <div class="pt-5">
        <div class="pt-2 pb-3 brd" routerLink="/course-details" routerLinkActive="active" >
            <span class="title">Course details</span>
        </div>
        <div class="pt-2 pb-3 brd" routerLink="/intend-learn" routerLinkActive="active">
            <span class="title">Intended learners</span>
        </div>
        <div class="pt-2 pb-3 brd" routerLink="/date-time" routerLinkActive="active">
            <span class="title">Dates & timings</span>
        </div>
        <div class="pt-2 pb-3 brd" routerLink="/price" routerLinkActive="active">
            <span class="title">Pricing</span>
        </div>
        <div class="pt-2 pb-3 brd" routerLink="/curriculam" routerLinkActive="active">
            <span class="title">Curriculam</span>
        </div>
    </div>