<div class="change-pass-wrapper">
    <div *ngIf="isOTP" class="progress">
        <div class="one" [ngClass]="{'active':step>=1}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" />
            </svg>
        </div>
        <div class="two" [ngClass]="{'active':step>=2}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" />
            </svg>
        </div>
        <div class="three" [ngClass]="{'active':step>=3}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" />
            </svg>
        </div>
    </div>
    <div *ngIf="!isOTP" class="change-pass-container">
        <form (ngSubmit)="onChangePassword(changePass)" #changePass="ngForm" ngNativeValidate autocomplete="off">
            <div class="password-group form-group">
                <label for="oldPassword">
                    <span class="password-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="currentColor">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                        </svg>
                    </span>
                    <input type="password" name="oldPassword" id="oldPassword" placeholder="Current Password" required
                        ngModel [disabled]="success">
                </label>
                <div class="alert hide" [hidden]="!incorrectPassword">The current password is incorrect!</div>
                <label for="newPassword">
                    <span class="password-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="currentColor">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                        </svg>
                    </span>
                    <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required
                        ngModel #newPass="ngModel" [disabled]="success" pattern="^.{8,}">
                </label>
                <label for="repeat-pass">
                    <span class="password-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="currentColor">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                        </svg>
                    </span>
                    <input type="password" name="repeat-pass" id="repeat-pass" placeholder="Repeat New Password"
                        required ngModel #repeatPass="ngModel" [disabled]="success">
                </label>
                <div class="alert"
                    [hidden]="newPass.pristine || repeatPass.pristine || newPass.value===repeatPass.value">
                    The passwords do not match!</div>
                <div class="alert" [hidden]="newPass.valid || newPass.pristine">
                    Password should be at least 8 characters!</div>
            </div>
            <button type="submit" class="change-pass-btn"
                [disabled]="!changePass.form.valid || newPass.value!==repeatPass.value || success"
                [ngClass]="{'loading-btn': isBtnClicked}">Change Password</button>
        </form>
    </div>
    <div *ngIf="isOTP" class="otp-wrapper">
        <div *ngIf="step===1" class="phone-container">
            <h4 class="step-title">Enter your phone number</h4>
            <form (ngSubmit)="onPhoneSubmit(phoneForm)" #phoneForm="ngForm" ngNativeValidate autocomplete="off">
                <div class="phone-group form-group">
                    <label for="phone">
                        <span class="phone-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="currentColor">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" />
                            </svg>
                        </span>
                        <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Phone number" required
                            ngModel #mobile="ngModel" pattern="^[0-9]{10}$" (input)="phoneError = false">
                    </label>
                    <div class="alert" [hidden]="mobile.valid || mobile.pristine">Phone number should have 10 digits!
                    </div>
                    <div [hidden]="!phoneError" class="alert">This phone number is incorrect! Please try again</div>
                </div>
                <button type="submit" class="reset-pass-btn" [disabled]="!phoneForm.form.valid"
                    [ngClass]="{'loading-btn':isBtnClicked}">Reset Password</button>
            </form>
        </div>
        <div *ngIf="step===2" class="otp-parent">
            <h4 class="step-title">Enter OTP sent to your phone number</h4>
            <app-otp [phoneNumber]="forgotPassPhone" (otpSubmitted)="otpSubmitted()"></app-otp>
        </div>
        <div class="change-pass-with-otp" *ngIf="step===3">
            <h4 class="step-title">Enter your new password</h4>
            <form (ngSubmit)="onChangePassword(changePassOTP, true)" #changePassOTP="ngForm" ngNativeValidate
                autocomplete="off">
                <div class="password-group form-group">
                    <label for="newPassword">
                        <span class="password-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="currentColor">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                            </svg>
                        </span>
                        <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required
                            ngModel #newPass="ngModel" [disabled]="success" pattern="^.{8,}" autofocus>
                    </label>
                    <label for="repeat-pass">
                        <span class="password-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="currentColor">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                            </svg>
                        </span>
                        <input type="password" name="repeat-pass" id="repeat-pass" placeholder="Repeat New Password"
                            required ngModel #repeatPass="ngModel" [disabled]="success">
                    </label>
                    <div class="alert"
                        [hidden]="newPass.pristine || repeatPass.pristine || newPass.value===repeatPass.value">
                        The passwords do not match!</div>
                    <div class="alert" [hidden]="newPass.valid || newPass.pristine">
                        Password should be at least 8 characters!</div>
                </div>
                <button type="submit" class="change-pass-btn"
                    [disabled]="!changePassOTP.form.valid || newPass.value!==repeatPass.value || success"
                    [ngClass]="{'loading-btn': isBtnClicked}">Change Password</button>
            </form>
        </div>
    </div>
    <h5 *ngIf="success" class="success">
        <span class="tick-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm-2 16l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z" />
            </svg>
        </span>
        <span>Password changed successfully!</span>
    </h5>
    <div *ngIf="step==1" class="option-wrapper">
        <span class="divider">OR</span>
        <button class="option-btn" (click)="showHideOTP()">
            {{isOTP ? 'Change with your current password' : 'Reset your password with OTP'}}
        </button>
    </div>
</div>