<mat-drawer-container class="example-container" style="background-color: #eeeeee;">
    <mat-drawer mode="side" opened class="dra-crt">
        <app-tutor-sidenav></app-tutor-sidenav>
    </mat-drawer>
    <mat-drawer-content style="height: 500px;">
        <div class="p-4">
            <mat-card>
                <mat-card-title class="course-title p-3">Intended learners</mat-card-title>
                <div class="p-3">
                    <div>
                        <div>
                            <span class="course-subtitle">The following descriptions will be publicly sdhsd gsdads tasvjgs d uaysdcvs saydffsd tsaydad visible on your Course Landing Page and will have a direct impact on your course performance. These descriptions will help learners decide if your course is right for them.</span>
                        </div>
                        <!-- <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput placeholder="test course1">
                        </mat-form-field> -->
                    </div>
                    <div class="pt-4">
                        <div>
                            <span class="course-titles">Who is this tuition for?</span>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="course-subtitle">Write a clear description of the intended learners for your course who will find your course content valuable.
                                This will help the right learners to your course.</span>
                        </div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                            <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                            <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                            <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                        </mat-form-field>

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div>
                                <mat-icon>add</mat-icon>
                            </div>
                            <div>
                                <span class="add-row"> Add more to ypur response</span>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <div>
                            <span class="course-titles">What students will learn in your tuition? </span>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="course-subtitle">You must enter at least 4 learning objectives or outcomes that learners can expect to achieve after completing your course.</span>
                        </div>
                        <div fxLayout="row wrap">
                            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                    <!-- <button matSuffix mat-button>100</button> -->
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput #message maxlength="256" placeholder="Insert your course description" size="100">
                                    <span matSuffix class="input_count">{{message.value.length}} / 256</span>
                                </mat-form-field>
                                </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div>
                            <mat-icon>add</mat-icon>
                        </div>
                        <div>
                            <span class="add-row"> Add more to ypur response</span>
                        </div>
                    </div>
                </div>

            </mat-card>
        </div>    
    </mat-drawer-content>
</mat-drawer-container>
