@import "variables";

.terms-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.table {
    border: 1px solid $border-color;
    border-radius: 4px;
    overflow: hidden;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }

    a {
        padding: 0.75rem 1rem;
        display: block;
        cursor: pointer;
    }

    .active {
        background-color: $primary-color;
        color: #fff;
    }
}

.terms-body {
    h1 {
        margin: 0 0 1rem;
    }

    h3 {
        margin: 1rem 0 0.5rem;
        font-size: $normal-font-size;
    }

    p {
        margin: 0;
        font-size: $normal-font-size;
        line-height: 1.5;

        + p {
            margin-top: 1rem;
        }
    }

    ul,
    ol {
        font-size: $normal-font-size;
        line-height: 1.5;
        padding-left: 1rem;

        li:not(:last-child) {
            margin-bottom: 0.75rem;
        }

        a {
            color: $primary-color;
            font-weight: bold;
        }
    }
}

.disclaimer p {
    background-color: rgba($primary-color, 0.2);
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .terms-wrapper {
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem 8%;
    }

    .table {
        min-width: 16rem;
    }

    .terms-body {
        flex: 1;
    }
}
