<div class="banner">
    <img src="https://jattutrustcrzbnf.org/online_tutorials/headers/banner1.jpg" alt="main banner">
    <div class="header-card container">
        <h1 class="heading">Title of the page</h1>
        <p class="sub-heading">Subtitle text to be added here to provide more details</p>
        <div class="center">
            <!-- <app-button [text]="'Get in touch'"></app-button> -->
            <button mat-button class="tutor-btn">Get in touch</button>
        </div>
    </div>
</div>
<div class="container">
    <div fxLayout="row wrap" class="pt-5">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
            <mat-card class="math" routerLink="/course-details">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
                    <div>
                        <img class="tutor-img" src="../../assets/pen.png" alt="">
                    </div>
                    <div class="tutor-title pt-4">
                        <span class="tutor-title">CREATE TUITION</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
            <mat-card class="phys">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
                    <div>
                        <img class="tutor-img" src="../../assets/online-learning.png" alt="">
                    </div>
                    <div class="tutor-title pt-4">
                        <span class="tutor-title">MY TUITIONS</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
            <mat-card class="chey" routerLink="/uplode_material">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
                    <div>
                        <img class="tutor-img" src="../../assets/file.png" alt="">
                    </div>
                    <div class="tutor-title pt-4">
                        <span class="tutor-title">UPLOAD MATERIAL</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
            <mat-card class="math">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
                    <div>
                        <img class="tutor-img" src="../../assets/books.png" alt="">
                    </div>
                    <div class="tutor-title pt-4">
                        <span class="tutor-title">MY MATERIALS</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
            <mat-card class="phys">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
                    <div>
                        <img class="tutor-img" src="../../assets/salary.png" alt="">
                    </div>
                    <div class="tutor-title pt-4">
                        <span class="tutor-title">MY EARNINGS</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-3">
            <mat-card class="chey">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
                    <div>
                        <img class="tutor-img" src="../../assets/review.png" alt="">
                    </div>
                    <div class="tutor-title pt-4">
                        <span class="tutor-title">RATINGS REPORT</span>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>