.example-full-width{
    width: 100%;
}
.title{
    font-size: 24px;
    font-weight: 500;
}
.input_count{
    font-size: small;
    color: #b3b3b3;
    font-weight: 400;
}
.mat-btn{
    width: 100%;
    height: 50px;
    background-color: #0f7c90;
    color: #ffffff;
}
.prd_btn{
    padding-top: 20px !important;
}