$primary-color: #0f7c90;
$primary-color-dark: #0a5461;
$gray-color: #8a92a3;
$gray-color-light: #b9c5db;
$gray-color-dark: #555;
$danger-color: #ec5252;
$success-color: #00890d;
$text-color: #333;
$orange-color: #eb8a2f;
$yellow-color: #fdd835;
$blue-color-dark: #2f466d;
$blue-color: #00a8ff;
$light-bg: #fbfbf8;
$gray-bg: #eee;
$overlay-color: #1e1e23;
$border-color: #ddd;
$normal-font-size: 14px;
$small-font-size: 12px;
